@import url('https://fonts.googleapis.com/css?family=Lato');

h2, .btn {
	font-family: 'Lato', sans-serif;
}
h2 {
	font-weight: bold;
}
.btn {
	font-size: 17px;
	padding: 4px 8px 2px;
}
.container {
	max-width: 900px;
}
textarea.form-control {
	font-family: 'Lato', sans-serif;
	margin-top: 5px;
	border: 0;
	border-bottom: 1px solid #ccc;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
    width: 100%;
    font-size: 18px;
}
#draw {
	margin-top: 5px;
}
